@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Контакты</h3>
    <p itemprop="telephone">
        Телефон: +7 (496)618-84-06
    </p>
    <address> 140402, Московская область, г Коломна, ул. Октябрьской революции, д. 408</address>
    <p>Email: <a href="mailto:college.kolomna@yandex.ru" target="_blank" itemprop="email">college.kolomna@yandex.ru</a>
</div>